{% extends "header.html" %}

{% block body %}
{% if product_detail %}

<p>
    this is the details of {{ product_detail.product_name }}
</p>

<div>
    <img src="{{ product_detail.product_image }}">
    

    <p>
       Stock: {{ product_detail.product_stock }}
    </p>
    <b>
        {{product_detail.product_description }}
    </b>
 
    <!-- change button and render form from forms.py -->
<a href="{{ url_for('home.add_to_cart', id = product_detail.id ) }}">
    <input type="button" class="btn btn-primary" value="Add to cart">
</a>
<a href="{{ url_for('home.buynow', id = product_detail.id ) }}">
    <input type="button" class="btn btn-primary" value="Buy now">
</a>
</div>

{% endif %}
{% endblock %}