{% extends "base.html" %}
<head>
	{%block head%}
	<link href="{{ url_for('static', filename='css/cart.css')}}" rel="stylesheet">
	{%endblock%}

</head>
{% block body %}
<body>
		
<div class="wrapper">
	<header class="heading cf">
		<h5>My Cart</h5>
	</header>

	<div class="outerbox">
		<div class="innerbox">
			<div class="cart-content">
				<ul class="item-wrapper">
						{% for items in cartlist %}
					<li id="cart_items" class="cart-items">
						<div class="infoWrap">
							<div class="item-description">
								<img src="{{ items.product.product_image }}" class="item-img">
								<h6 class="item-name">
										{% for variant in variants %}
										{{ items.product.product_name }}
										<br>
									<div class="small">
										<span>Size:</span> 
										<span>{{ variant.product_size }}</span>
									</div>
										{% endfor %} 
								</h6>
								<br>
								<div class="xtra">
									<form action="{{url_for('users.quantity_update', id=items.id)}}"></form>
										<p>
												<input type="text" name="quantity" class="qty" id="qty{{items.id}}", value="{{items.quantity}}">
											  x <span class="iso">₦</span> <span class="item-price{{items.id}}"> {{ items.product.product_price }}</span>
											  <p> <span id="loading" ></span> </p>
										</p>
										
									</form>
									<p class="stockStatus">
										In Stock
									</p>
									
								</div>

							</div>
							<div class="prod-total item-description">
								<p> <span class="iso">₦</span> <span class="item-total{{items.id}} item-total">{{items.subtotal}}</span></p>
							</div>

							<div class="remove-item item-description">
								<a href="{{ url_for('users.remove_item', id=items.id) }}" class="remove">x</a>	
							</div>
						</div>
					</li>
					
                    {% endfor %}
				</ul>

			</div>
		
				
		</div>

		

	</div>
<footer class="cart-footer">
	<div class="subtotal cf">
    <ul>
	  <li class="totalRow"><span class="label">Subtotal</span>
		<span class="iso">₦</span>
		<span id="subtotal_value" class="value">{{items_subtotals}}</span>
	</li>
	<li class="totalRow"><span class="label">Shipping</span>
		<span class="iso">₦</span>
		<span id="shipping_price" class="value">{{ price }}</span>
	</li>

	<li class="totalRow final"><span class="label">Total</span>
		<span class="iso">₦</span>
		<span id="total-final" class="value">{{items_subtotals + price}}</span>
	</li>
    </ul>
  </div>
		<div class="checkoutcontainer">
			<a href="#" id="checkout">
				<span class="checkout-text">Checkout</span>
			</a>
		</div>
	
	<span class="cart-copyright">
		powered by <a href="#" class="authored">buster matthews</a>
	</span>
</footer>
</div>
{% for items in cartlist %}
<script>
	

	window.onload = subtotal;
	function subtotal()
	{

		var item;
		var items = document.getElementById("cart_items").getElementsByClassName("prod-total");
		for (var i = 0; i<items.length; i++)
		{
			item = items[i];
			var subtotal = 0;
			item.getElementById
			subtotal += parseFloat($(".item-total").text());
		} 
		return subtotal;
	}

	$(document).ready(function(){
		$(document).on('blur','#qty{{items.id }}', function(){
		var quantity =parseInt($("#qty{{items.id}}").val());
		$("#subtotal_value").text(subtotal);
		$("#qty{{items.id }}").addClass("disabled");
		$("#loading").addClass("loading");
		req = $.ajax({
			url:"{{url_for('users.quantity_update',id = items.id)}}",
			type:"POST",
			data: {quantity:quantity}
		});
		//remove loading class here
		req.done(function(data){
			$("#loading").removeClass("loading");
			$("#qty{{items.id }}").removeClass("disabled");
			//$("#qty{{items.id}}").fadeOut(1000).fadeIn(1000);
			new_price = $(".item-total{{items.id}}").text(data.item_total).fadeOut(100).fadeIn(1000);
			$("#subtotal_value").text(data.subtotal);
			$("#total-final").text(parseFloat($("#subtotal_value").text()) + parseFloat({{price}}));
		});
		
		
});
});

</script>
{% endfor %}
</body>


{% endblock %}