{% extends "base.html" %}
<head>
  
</head>
{% block body %}
<style>
  .btn-xs
  {
    max-height: 22px;
    max-width: 22px;
  }
  .btn-dark
  {
    background: #1f1f1f;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    color: #fff;
    text-decoration: none;
    -webkit-transition: background .1s;
    transition: background .1s;

  }

  thead > tr > th, tbody > tr > td
  {
    text-align: center;
  }
</style>

<div class="container-fluid">
  <div class="row">
      <div class="span12" style="max-width: 860px;margin: 0 auto;">
    <table class="table">

      <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <!-- add stock optional -->
            <th>Unit price</th>
            <th>Qty </th>
            <th></th>
          </tr>
      </thead>

      <!-- table body -->
      <tbody>

{% for items in cartlist %}
    <tr>
                
            <td><img width="100" src="assets/img/e.jpg" alt=""></td>
            <td> <p> {{ items.product.product_name }} </p> </td>
            <td class="unit-price"> {{ items.product.product_price }} </td>
        <td>
            <ul class="center list-inline" >
                <li><button type="button" class="btn btn-dark btn-xs minus-btn" >-</button></li>
                <li><input class="center Qty" type="text" size="2" readonly value="1"></li>
                <li><button type="button" class="btn btn-dark btn-xs plus-btn" >+</button></li>
              </ul>
        </td>
        
        <td>
            <span class="iso">₦</span>
            <span class="prod-price">{{ items.product.product_price }}</span>
        </td>
            
    </tr>

          
{% endfor %}

          <tr>
              <td colspan="4" class="alignR">
              <ul class="right list-inline">
                
                  <li> Items: </li>
              </ul>
              
              </td>
              <td class="alignR">
                  <ul class="list-inline product-costs" >	
                      <li>$product price * Qty</li> 
                  </ul>
    
                  </td>
            </tr>


            <tr>
                <td colspan="4" class="alignR">
                <ul class="right list-inline">
                      <li>Shipping costs:</li>	
                    
                </ul>
  
                </td>
                <td class="alignR">
                    <ul class="list-inline">	
                        <li>$Shipping cost</li> 
                    </ul>
      
                    </td>
              </tr>
  
  


          <tr>
              <td colspan="4" class="alignR">
              <ul class="right list-inline">
                    <li>Total Price:</li>	
                  
              </ul>

              </td>
              <td class="alignR">
                  <ul class="list-inline">	
                      <li>$Items + Shipping</li> 
                  </ul>
    
                  </td>
            </tr>



  </tbody>
  
      </table><br/>





    </table>
  </div>
  </div>
</div>





<script type="text/javascript">
  $('.minus-btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value > 1) {
            value = value - 1;
        } else {
            value = 0;
        }

    $input.val(value);

    });

    $('.plus-btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value < 100) {
          value = value + 1;
        } else {
            value =100;
        }

        $input.val(value);
    });




</script>

{% endblock %}