
html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Cabin', sans-serif;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
 a{
	transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
}

.logo-nav
{
    padding: 1em 0;

}


.logo-nav-left {
    padding: 0;
	height:auto;
}
.logo-nav-left h1 {
	font-size:2.5em;
   text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.logo-nav-left h1 a{
	
	    color:#01CFCF;
    text-decoration: none;
    
}
.logo-nav-left h1 a span{
    color: #000;
	font-weight: 300;
}

.logo-nav-left1 ul li a{
	font-size:1em;
    color: #222;
    text-decoration: none;
	padding: 0;
    margin: 0 1em;
}
.logo-nav-left1 ul li.active a.act{
	color:#01CFCF !important;
}


.logo-nav-left {
    padding: 0;
	height:auto;
}
.logo-nav-left h1 {
	font-size:2.5em;
   text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.logo-nav-left h1 a{
	
        color:#01CFCF;
        
    text-decoration: none;
    
}
.logo-nav-left h1 a span{
    color: #000;
	font-weight: 300;
}

.logo-nav-left1 ul li a{
	font-size:1em;
    color: #222;
    text-decoration: none;
	padding: 0;
    margin: 0 1em;
}
.logo-nav-left1 ul li.active a.act{
	color:#01CFCF !important;
}
ul.nav.navbar-nav {
    float: right;
}
ul.nav.navbar-nav  li a{
   padding:0;
   margin:1em;
}
.mega-dd-column-dropdown li a {
    color: #999 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #01CFCF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.nav .open > a{
    color: #01CFCF;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-collapse {
    padding: 0;
}

ul.mega-dd-column-dropdown h6 {
    font-size: 1.5em;
    color:#222222;
    margin: 0 0 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
    text-transform: capitalize;
}
.mega-dd-column-dropdown li {
    list-style-type: none;
    margin: 7px 0;
}
.mega-dd-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #999 !important;
    white-space: normal;
	font-weight:500 !important;
}
.mega-dd-column-dropdown li a:hover {
    color: #FF7000 !important;
}
.dropdown-menu.mega-dd {
    min-width: 700px;
    padding: 30px 30px;
}

.mega-dd1{
    left: -330%;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
    border: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}
.nav > li > a:hover {
    background: none;
	color:#01CFCF !important;
}

.navbar {
    min-height: auto;
    margin-bottom: 0px;
}
.dropdown-menu {
    top: 131%;
    left: -159%;
}
.row1 {
    padding-left: 0;
	padding-right:7px;
}
.row2{
	padding-right: 0;
	padding-left:7px;
}
.row-top {
    margin-top: 1em;
}

.banner{
    height: 480px;
    max-height: 590px;
    background:  url(../images/15.jpg) no-repeat;
	width:100%;
	background-size:cover;
}
.content{
    font-size: 100%;
}


*{
    margin:0;
    padding:0;
}

.col-cate-pic{
    position:absolute;
    top:0;
    background:rgba(0, 0, 0, 0.42);
    width:100%;
    height:100%;
    text-align:center;
    padding-top: 13.5em;
}
.col-cate-pic p{
    color:#fff;
    font-size:1.1em;
}
.col-cate-pic h5{
    color: #01CFCF;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
}
.col-md-pd1
{
    padding: 0;
    width: 50%;
}

@media (max-width: 1440px){
.dropdown-menu {
    left: -330%;
}
}

@media (max-width: 991px){ 

.dropdown-menu {
    left: -359%;
}
.mega-dd1 {
    left: -619%;
}

.logo-nav-left h1{
    font-size: 2.2em;

}

.banner-grid{
    width:85%;
    margin:2.5em auto;
}
.banner-right {
    width: 50%;
        min-height: 525px;
}
.banner {
    min-height: 525px;
}
.col-cate-pic {
    padding-top: 15.5em;
}

}


@media(max-width:760px){
    .navbar-toggle {
        margin-top: 7px;
        margin-right: 0px;
    }
  
    .header-right {
        width: 100%;
        float: none;
        margin-top: 1em;
    }
    ul.nav.navbar-nav {
        float: none;
        margin-top: 0px;
    }
    .logo-nav-left1 ul li a {
        margin: 1em 0em;
    }
    .navbar-nav {
        margin: 7.5px 0px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    .navbar-toggle ,.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #000010;/*loock for dope black*/
    }
    .navbar-default .navbar-toggle {
        border-color: #000010;/*loock for dope black*/
    }
 
    .dropdown-menu.mega-dd {
        min-width: 570px;
    }

    .banner-grid h2{
        font-size:1.3em;
    }
 
    .banner-grid{
        width:85%;
        margin:2em auto;
    }
    .banner-right {
        width: 50%;
            min-height: 452px;
    }
    .banner {
        min-height: 452px;
    }
    .col-cate-pic {
    padding-top: 13.5em;
    }

    }

@media(max-width:600px){
    .logo-nav-left h1 {
        font-size: 2em;
    }
  
    .logo-nav {
        padding: 1em 0 0.7em;
    }
    .dropdown-menu.mega-dd {
        padding: 10px;
    }
    .banner-right {
        width: 60%;
            min-height: 430px;
    }
    .banner {
        min-height:430px;
        
    }
    .dropdown-menu.mega-dd {
        min-width: 400px;
    }
    .col-cate-pic {
    padding-top: 9em;
}
 
    }


@media(max-width:414px)
{
    .logo-nav-left h1 {
        font-size: 1.6em;
    }
    .navbar-toggle {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0;
    }
    .dropdown-menu.mega-dd {
        min-width: 300px;
    }
    
 
    .banner-grid{
        width:85%;
        margin:1em auto;
    }
    .banner-right {
        width: 80%;
            min-height: 367px;
            margin:0 auto;
    }
    .banner {
        min-height:367px;
            background: url(../images/15.jpg) no-repeat  0px 0px;
    }
    .col-cate-pic h5 {
        font-size: 2em;
    }
    .col-cate-pic {
    padding-top: 5.8em;
    }
}
@media(max-width:1440px){
.dropdown-menu {
    left: -330%;
}
.mega-dd1 {
    left: -567%;
}

}

@media(max-width:1366px){

}

@media(max-width:1280px){

}

@media(max-width:1080px){
.banner-grid{
    width:70%;
    margin:4.5em auto;
}
.banner-right {
    width: 50%;
}
.col-cate-pic {
    padding-top: 8.5em;
}

}