p,h1, h3, input, ul, h6 ,h5{
	margin: 0;
	padding: 0;
 
}
 ul{
 	list-style-type: none;
}

/* for table cart*/

.temp_hidden
{
    display: none;
}
.line
{
    width: 100%;
     
    margin-bottom:8px; 
    border-bottom:1px solid #777777;

}
.actions
    {
        margin-left:auto;
        margin-right:30px;
        margin-top: -50px;
        
    }
    .table-crt
    {
        display:table;
        margin-left: auto;
        margin-right: 20px;
        width: 60%;
        padding: 8px;
    }
    .table-crt > strong
    {
        padding: 8px;
        font-size: 18.59px
    }

@media screen and (max-width: 1280px) { 
    /* Larger Desktop */ 
    .row{
        margin-left: -24px; 
    }
    .col-1{
        margin-left: -14px; 
    }
    .col-6{
        margin-left: 14px; 
    }
    .nomargin > p{
    word-wrap: break-word; 
    }
    .actions
    {
        margin-left:auto;
        margin-right:30px;
        margin-top: -50px;
        
    }
    .table-crt
    {
        display:table;
        margin-left: auto;
        margin-right: 20px;
        width: 60%;
        padding: 8px;
    }
    .table-crt > strong
    {
        padding: 8px;
        font-size: 18.59px
    }
}

@media screen and (max-width: 1020px) { 
    /* Large Desktop */ 
    .row{
        margin-left: -24px; 
    }
    .col-1{
        margin-left: -14px; 
    }
    .col-6{
        margin-left: 14px; 
    }
    .nomargin > p{
    word-wrap: break-word; 
    }
    .actions
    {
        margin-left:auto;
        margin-right: -40px;
        margin-top: -50px;
        
    }
    .table-crt
    {
        display:table;
        margin-left: auto;
        margin-right: 20px;
        width: 70%;
        padding: 8px;
        margin-bottom:8px; 
    }
    
}



@media screen and (max-width: 780px) { 
	/* tablet */
	.item-img{
        margin-left: -1.6em;

    }
    .nomargin
    {
        margin-left: 1.6em;
    }
    .form-inline p>span{display: none;}
    .hide{
        display: none;
    }
    .left{
    position: relative;
    left: 77%;
    margin-top:-60px;
    }
    .table-crt
    {
        display:table;
        margin-left: auto;
        margin-right: 20px;
        width: 70%;
        padding: 8px;
        margin-bottom:8px; 
    }
    
 }


/*start table cart*/
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}


@media screen and (max-width: 480px) {
    /* mobile */
    .continue-shopping{
        display: none;
    } 
    .table-crt
{
    display: grid;
    justify-content: flex-end !important;
        margin-left: auto;
        margin-right:0;
        width: auto;
        padding: 3px;
        margin-bottom:2px;
}
.actions {

    margin-left: auto;
    margin-right: -65px;
    margin-top: -50px;

}
.checkout-btn{
    width: 100%;
    
}

.row
{
    margin-left: -14px;
}


 }
/*
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
*/

/*end of table cart*/

.wrapper{
	position: relative;
	height: 450px;
	max-height:50%;
	width: 50%;
	max-width: 50%;
	margin: auto;
	clear: both;
}


.heading {
    padding: .33em 0;
    border-bottom: 1px solid #D0D0D0;
}

.heading h5 {
    font-family: "Droid Serif", serif;
    font-size: 1.5em;
    margin-left: 10px;
}


.outerbox{
	clear: both;
	height: 100%;
	width:100%;
	position: relative;
	overflow: hidden;
	clear: both;
}
.innerbox{
	height:80%;
	width: 100%;

}

/* container for cart items and
 all things inside the cart*/

.cart-content{

	margin-top: 10px;
	display: table;
	position:relative;
	width: 100%;
}

.item-wrapper{
	list-style-type: none;
	padding: 0;
}


.cart-items{
	display: block;
	width: 100%;
	vertical-align: middle;
	border-bottom: 1px solid #D0D0D0;
}

.infoWrap {
    display: table;
    width: 100%;
}

.item-description{
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 5px;
}
.item-img{
    width:5em;
    height: 4em;
	display:inline;
	padding-right:1em;
	margin-top: 2px;
	margin-bottom: 4px;
}

.item-name {
	top: 7%;
	font-size: .88em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .021em;
}

.item-img, .item-name{
	display: inline-block;
}

.item-description p {

    font-size: .85em;
    color: #777777;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
}

span.size
{
    color:green;
    line-height: 2;
    font-size: .90em;
}

.nomargin
{
    font-size: 1.03em;
    text-transform: capitalize;
}
.nomargin > p{
    word-wrap: break-word; 
    }
 
/* class xtra holds both input and status tags */
.xtra
{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: -10%;

}

input.qty {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: .25em;
    margin: 1em .5em 0 0;
    
}
.stockStatus {
    color: #82CA9C;
    font-weight: bold;
    
    text-transform: uppercase;
    
}
/* for out of stock items add the out class*/
.stockStatus.out {
    color: #F69679;
}

.prod-total{
	text-align: center;
	margin-right: 2px;
	font-size: 25px;
}
.remove-item {
    padding-left: 15px;
}
.remove{
	text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: bold;
    background: #e0e0e0;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
    transition: all 0.25s linear;
}
a.remove:hover {
    background: #f30;
}


/* cart  footer*/
.cart-footer
{
	border-top: solid black;
	position:absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	text-align: center;
}

/* total , shipping, subtotal*/
.cf >ul {
	width: 50%;
	float: right;
}

.subtotal .totalRow {
    padding: .5em;
    text-align: right;
}
.subtotal .totalRow .label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.16em;
    font-weight: normal;
    color: #777;
}
.subtotal .totalRow span.label {
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
    margin-right: 35px;
}

.subtotal .totalRow .value {
    letter-spacing: -.025em;
    
    font-size: 1.15em;
    font-weight: 100;
}
.subtotal .totalRow.final {
    font-size: 1.25em;
    font-weight: bold ;
}
.subtotal .totalRow.final>.value {
    font-weight: 1000 ;
}

/* checkout btn */
.checkoutcontainer
{

	width: 130px;
	height: 50px;
	position: relative;
	margin: auto;
	margin-top: 8px;
	background-color: black;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3.125em;
    -moz-border-radius: 3.125em;
    border-radius: 3.125em;
    margin-bottom: 7px;
    clear: both;

}
.checkoutcontainer:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.checkout-text
{
	position: absolute;
	top: 35%;
	left:25%;
    color: white;
    text-align: center;
}




.cart-copyright {
	font-size: 12.7px;
    letter-spacing: 0.06em;
}

.authored {
    color: black;
}

/*others*/
.cf:before, .cf:after {
    content: " ";
    display: table;
}


@media only screen and (max-width: 39.375em) {
  .wrapper {
    width: 98%;
    padding: 2% 0;
  }


  .heading {
    padding: 1em;
    font-size: 90%;
  }

  .cart-items .item-description {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .item-description.qtyWrap {
    width: 10%;
    text-align: center;
    padding: .5em 0;
    float: right;
  }
  .cart .items .item-description.qtyWrap:before {
    content: "QTY";
    display: block;
    font-family: "Montserrat", sans-serif;
    padding: .25em;
    font-size: .75em;
  }
  .cart-items .item-description.prod-total, .cart-items .item-description.remove-item {
    display: none;
  }
  .cart .items .item-description .item-img {
    width: 25%;
  }

   .subtotal {
    width: 100%;
  }

}

.loading_bkg
{
    height: 16px;
    display: inline-block;
    width: 18px;
    margin-left: 4px;

}
.loading
{
    background: #fff url('../cart-loader.gif')no-repeat;
}
