<script>
$(document).ready(function(){
	var get_price = parseInt($(".item-price{{items.id}}").text());
	//set item total
	//$(".item-total{{items.id}}").text(get_price);
	$(document).on('blur','#qty{{items.id }}', function(){
		var quantity =parseInt($("#qty{{items.id}}").val());
		//add loading class here
		//get total price of individual of item product here
		req = $.ajax({
			url:"{{url_for('users.quantity_update',id = items.id)}}",
			type:"POST",
			data: {quantity:quantity}
		});
		//remove loading class here
		req.done(function(data){
			//$("#qty{{items.id}}").fadeOut(1000).fadeIn(1000);
			new_price = $(".item-total{{items.id}}").text(data.item_total).fadeOut(100).fadeIn(1000);
		});	
	});
})
</script>