
<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ title }} </title>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/materialize.min.css') }}"rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}"rel="stylesheet">



</head>
<body>
<header>

    <script>
    $('#myTabs a').click(function (e) {

        e.preventDefault()
        $(this).tab('show')
        })
    </script>
</header>

<div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{ url_for('home.homepage') }}">FashionWeek</a>
        </div>
        <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
            {% if current_user.is_authenticated %}
            {% if current_user.is_admin %}
                <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('admin.list_categories') }}">Categories</a></li>
                <li><a href="{{ url_for('admin.list_products') }}">Products</a></li>
                <li><a href="#">Orders</a></li>
            {% else %}
                <li><a href="{{ url_for('users.cart') }}">Cart <span class="badge">42</span></a></li>
            {% endif %}

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>  Hi, {{ current_user.firstname }}!
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>

            {% else %}                
                <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                <li><a href="{{ url_for('users.cart') }}">Cart <span class="badge">0</span></a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                
            {% endif %}
        
        </ul>
</div>



		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
		<div class="alert alert-info" role="alert" >
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  	<span aria-hidden="true">&times;</span>
		</button>
			{{ message }}
		</div>
		{% endfor %}


		{% endif %}
		{% endwith %}


<div class="container-fluid" style="max-width:85%;">


      {% block body %}



      {% endblock %}
</div>
      <footer style="margin-top:15px;">
        <div class="container-fluid">
            <div class="row">
                                <div class="col l3 s8 m8 ">
                        <ul class="list-inline">
                            <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                            <li class="footer-menu-divider">⋅</li>
                            {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                                <li class="footer-menu-divider">⋅</li>
                                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                        <p class="copyright text-muted small">Copyright © 2019. All Rights Reserved</p>
                    </div>


                    <div class="col l3 s8 m8 ">
                            <ul class="list-inline">
                             <li>add details in the footer</li>
                             <li>social media</li>    
                            </ul>
                            <p class="copyright text-muted small">Copyright © 2019. All Rights Reserved</p>
                        </div>

                        <div class="col l3 s8 m8 ">
                                <ul class="list-inline">
                                <li>sitemap etc</li>    
                                </ul>
                                <p class="copyright text-muted small">Copyright © 2019. All Rights Reserved</p>
                            </div>
    



            </div>


        </div>
      </footer>
</body>
</html>
