<!DOCTYPE html>
<html>


<body style="height: 100%">
<header>
	<ul>
		<li> search bar in nav_header</li>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="{{ url_for('admin_register') }}">Register</a>
		</li>
		<li>
			<a href="{{ url_for('admin_login') }}">Login</a>
		</li>
		<li>
			<a href="#">Cart</a>
		</li>
	</ul>
</header>

	<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
			<p style="background-color: pink; color: green;" > {{ message }} </p>
		{% endfor %}


		{% endif %}
		{% endwith %}
	</div>


{% block body %}


{% endblock %}

</body>
<footer style="background-color: red;">
	this is the footer oga
</footer>

</html>


