<html>
    <head>
            <title>
                Faith's Collections</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"rel="stylesheet">
        <link href="{{ url_for('static', filename='css/st.css') }}"rel="stylesheet">
           

            <!-- js -->
            <script src="{{url_for('static',filename='js/jquery-3.3.1.js')}}"></script>
            <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
            
            
    </head>
<body>
        <div class="container-fluid mt-1">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <h1 class="brand_name">
                        <a class="navbar-brand" href="{{ url_for('home.homepage') }}">Faith<span>Collections</span></a>
                    </h1>
                
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    
                    
                                                 
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                            {% if current_user.is_authenticated %}
                            {% if current_user.is_admin %}  
                            <li class="nav-item ml-3">
                              <a class="nav-link active" href="{{ url_for('home.admin_dashboard') }}">Dashboard</a>
                            </li>
                            <li class="nav-item ml-3">
                              <a class="nav-link" href="{{ url_for('admin.list_categories') }}">Categories</a>
                            </li>
                            <li class="nav-item ml-3">
                              <a class="nav-link" href="{{ url_for('admin.list_products') }}">Products</a>
                            </li>
                            <li class="nav-item ml-3">
                              <a class="nav-link" href="#" >Orders</a>
                            </li>
                            {% else %}
                                    
                              <li class="nav-item ml-3">
                                <a class="nav-link" href="{{ url_for('users.cart') }}">Cart<span class="badge badge-light">{{ count }}</span></a>
                              </li>
                              {% endif %}
                              <li class="nav-item dropdown ml-3">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Hi, {{ current_user.firstname }}!</a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="{{ url_for('users.profile') }}">Profile</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                                    </div>
                                  </li>
                                {% else %}  
                                <li class="nav-item active ml-3">
                                    <a class="nav-link" href="{{ url_for('home.homepage') }}">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    
                                    <li class="nav-item ml-3">
                                      <a class="nav-link" href="{{ url_for('users.cart') }}">Cart<span class="badge badge-light">{{ count }}</span></a>
                                    </li>
                                    <li class="nav-item ml-3">
                                      <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                                    </li>
                                    <li class="nav-item ml-3">
                                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                                      </li>
                                      
                                    {% endif %}

                    </ul>


                    </div>
                </nav>
            </div>  
            
              <!-- banner -->
              <div class="banner">
                  <div class="xf">
                                <div class="bd-example" >
                                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                    <div class="carousel-item active" style="min-height:480px;">
                                                            <img src="{{url_for('static',filename='test.png')}}" class="d-block carousel-img-height" alt="...">
                                                            <div class="carousel-caption d-none d-md-block">
                                                            <h5>Featured Products</h5>
                                                            <p>
                                                                <a href="{{url_for('home.homepage')}}"> 
                                                                Checkout our hottest products. </a> 
                                                            </p>
                                                            </div>
                                                        </div>
                                            
                                            {% for i in products %}    
                                            {% if i.id in sorter %}
                                                <div class="carousel-item" style="min-height:480px;">
                                                    <a href="{{url_for('home.product_details',product_name = i.product_name)}}">
                                                        <img src="{{i.product_image}}" class="d-block  carousel-img-height" alt="...">
                                                        <div class="carousel-caption d-none d-md-block">
                                                        <h5>Featured Products</h5>
                                                        <p>{{i.product_name}}</p>
                                                        </div>
                                                     </a>
                                                </div>
                                                {%endif%}
                                            {%endfor %}
                                            
                                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        </div>
                            </div>  
                  </div>  
            
</body>

</html>